.header {

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;

	@media (min-width: 480px) {
		padding: 12px 0;
	}

	@media (min-width: 990px) {
		padding: 14px 0;
	}

	@media (min-width: 1200px) {
		padding: 16px 0;
	}
	
}

// 62 -> 18